@model UserViewModel
@{
    ViewData["Title"] = "GetUser";
}

<h1>GetUser</h1>

<div class="container">
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(x => x.Id)</div>
        <div class="col-md-2">@Html.DisplayFor(x => x.Id)</div>
    </div>
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(x => x.Name)</div>
        <div class="col-md-2">@Html.DisplayFor(x => x.Name)</div>
    </div>
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(x => x.Surname)</div>
        <div class="col-md-2">@Html.DisplayFor(x => x.Surname)</div>
    </div>
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(x => x.Email)</div>
        <div class="col-md-2">@Html.DisplayFor(x => x.Email)</div>
    </div>
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(x => x.BirthDate)</div>
        <div class="col-md-2">@Html.DisplayFor(x => x.BirthDate)</div>
    </div>
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(x => x.Gender)</div>
        <div class="col-md-2">@Html.DisplayFor(x => x.Gender)</div>
    </div>
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(x => x.GitHubAccountUrl)</div>
        <div class="col-md-2">@Html.DisplayFor(x => x.GitHubAccountUrl)</div>
    </div>
</div>
